$font--big: 16px;
$font--extra-small: 13px;

$mobile: 768px;
$desk: 1280px;

.lpcard {
  font-family: "Open Sans";
  border: none;
  position: relative;
  background: #fff;
  color: #4A4A4A;

  &__cover {
    cursor: pointer;
    background-color: #f1f6f9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    -webkit-flex-basis: 256px;
    flex-basis: 256px;
    &:after {
      background-color: rgba(18, 31, 34, 0.2);
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 4;
    }
    & > div {
      z-index: 5;
    }
  }

  &__content-title {
    $line-height: 24px;
  
    max-height: (3 * $line-height) + 3px;
    overflow: hidden;
    font-size: 20px;
    line-height: $line-height;
    margin: 5px 0px;
    font-weight: bold;
  
    > div {
      margin-bottom: 1px;
    }
  
    & + .card__event {
      margin-top: 4px;
    }
  }

  &__inner {
    border-radius: 4px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    & > div {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
  
  &__content {
    padding: 5px 0px;
    &-text,
    &-overview,
    &-author {
      font-size: $font--big;
      font-weight: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      line-height: 22px;
      margin: 5px 0px;
    }

    &-author {
      opacity: 0.7;
      white-space: normal;
      max-height: $font--big * 3;
    }

    &-overview {
      font-size: $font--extra-small;
      line-height: 18px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  
}

@media (min-width: $desk) {
  .lpcard__cover {
    &:after {
      transition: 0.2s all;
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  .lpcard {
    &:hover,
    &.hover {
      .lpcard__cover {
        &:after {
          background-color: rgba(18, 31, 34, 0.6);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}

@media (min-width: $mobile) {
  .lpcard__inner {
    height: 430px;
  }

  .lpcard__cover {

  }
}
